:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
h1, h2, h3, h4{
  margin: 0;
}
.title {
  margin-bottom: 12px;
}
body{
  margin: 0;
}

.container {
  margin: 0;
  padding: 24px;
  padding-top: 48px;
  gap: 24px;
}

.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.weight-age-wrapper {
  gap: 24px;
}